aniso8601
blinker
click
dnspython
email_validator
Flask
Flask-Cors
Flask-Login
Flask-Principal
Flask-RESTful
Flask-Security
Flask-Security-Too
Flask-SQLAlchemy
flask-swagger
flask-swagger-ui
Flask-WTF
greenlet
idna
importlib_resources
itsdangerous
Jinja2
MarkupSafe
passlib
pytz
PyYAML
setuptools
six
SQLAlchemy
typing_extensions
Werkzeug
WTForms
python-dotenv
google-generativeai
youtube-transcript-api
requests
pymongo
pandas
numpy
scikit-learn
pypdf
chromadb
langchain_community
langchain_google_genai
sentence-transformers